body {
  padding-top: 120px;
  background-color: #3e3e49 !important;
  color: white;
}

hr {
  border-top: 1px solid lighten(#3e3e49, 10%);
}
.page-header {
  border-bottom: 1px solid lighten(#3e3e49, 10%);
}

.breadcrumb {
  border-radius: 3px;
  background: lighten(#3e3e49, 10%);
  a { color: white; }
  &>.active { color: #b9b9b9; }
}

@media screen and (max-width: 991px){
  body {
    padding-top: 70px;
  }
}
