<div class="container">
  <div class="col-12">
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-home"></i> Lista</a></li>
      <li class="active">{{videocast.name}}</li>
    </ol>
  </div>
	<div class="col-12">
    <header class="header-about page-header media">
      <div class="media-body">
    		<h1 class="media-heading"> {{videocast.name}}</h1>
        <hr>
          <a class="btn btn-danger" href="{{videocast.channel_link}}" target="_blank"><i class="fa fa-youtube-play"></i> ACESSAR</a>
      </div>
    </header>
  </div>
</div>

<section class="container">
  <div class="col-12">
    <div class="block-description panel panel-default">
      <div class="panel-body" ng-bind-html="(videocast.description || 'Sem descrição...')">
      </div>
    </div>
  </div>

  <center ng-if="feedloaded == false">
    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </center>

  <div ng-if="feedlist.length" class="col-12">
      <h3><i class="fa fa-volume-up"></i> Últimos episódios no feed:</h3>
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="item in feedlist">
              <a href="{{item.link}}" target="_blank" class="item-episode panel panel-default">
                <div class="panel-body">
                  <small>{{getTime(item.publishedDate) | date: 'dd/MM/yyyy'}}</small>
                  <h4 class="media-heading">{{item.title}}</h4>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
  </div>
  <div class="col-12" ng-if="videocast.subjects.length">
     <span class="tag-subject" ng-repeat="subject in videocast.subjects">{{subject}}</span>
  </div>
</section>
